# Виртуальные окружения
venv/
env/
.env/

# Исходники Python
__pycache__/
*.pyo
*.pyd

# Логи и базы данных
*.log
db.sqlite3

# Артефакты тестирования
.pytest_cache/
.coverage
htmlcov/

# Артефакты IDE
.idea/
.vscode/
*.swp
*.swo

# Артефакты сборки
build/
dist/
*.egg-info/

# Другие системные файлы
.DS_Store
Thumbs.db

# Игнорировать директорию .git
.git

# Игнорировать директорию с локальными артефактами uv
.uv

# Игнорировать директорию с локальными артефактами pre-commit
.pre-commit-config.yaml

# Игнорировать директорию с локальными артефактами ruff
.ruff_cache

# Игнорировать конфигурации AI агентов
.gigacode/
